<div class="content">
  <div class="row mx-5">
    <div class="col-lg-6 col-md-12">
      <div class="row gy-5">
        <div id="start-button" class="col-6">
          <button type="button" #startButton (click)="onStartClicked(startSpan, startButton)" class="btn btn-primary btn-start text-bg-info text-bg-light fs-1 fw-bolder">
                <i *ngIf="!started" class="bi bi-caret-right-fill"></i>
                <i *ngIf="started" class="bi bi-square-fill"></i>
                <span class="ms-2" #startSpan >Start</span>
            </button>
        </div>

        <div id="settings-button" class="col-6">
          <button routerLink="/settings" type="button" class="btn btn-primary btn-start text-bg-light fs-1 fw-bolder">
            <i class="bi bi-sliders"></i>
            Settings</button>
        </div>

        <div id="activity-button" class="col-6">
          <button type="button" routerLink="/activity" class="btn btn-primary btn-start text-bg-light fs-1 fw-bolder">
            <i class="bi bi-graph-up"></i>
            Activity</button>
        </div>

        <div id="plan-button" class="col-6">
          <button type="button" routerLink="/planner" class="btn btn-primary btn-start text-bg-light fs-1 fw-bolder">
            <i class="bi bi-calendar-date"></i>
            Plan</button>
        </div>

        <div class="col-6 my-5">
          <app-chart></app-chart>
        </div>
      </div>
    </div>

    <app-articles [items] = "items" class="col-lg-6 col-md-12"></app-articles>
  </div>
</div>
