<div class="header d-flex justify-content-between">
  <div class="breadcrumb mt-3 ms-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
        <li class="breadcrumb-item"><a class="text-white" href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
      </ol>
    </nav>
  </div>

  <div class="right-side d-flex">
    <i class="bi bi-bell mt-3 text-white"></i>
    <div class="profile">
      <div ngbDropdown class="d-inline-block">
          <a ngbDropdownToggle class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
          </a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button routerLink="/login" ngbDropdownItem>Login</button>
          <button routerLink="/register" ngbDropdownItem>Registration</button>
          <button ngbDropdownItem>Profile</button>
        </div>
      </div>
    </div>

  </div>

</div>
