<div class="intervals bg-light bg-opacity-75 container rounded mb-5 py-3">
  <p class="fw-bold">Choose period</p>
  <div class="btn-group align-self-center" role="group" aria-label="Basic checkbox toggle button group">
    <input (click)="onIntervalGroupsClick($event)" id="hourly" type="radio" class="btn-check" name="btnradio" autocomplete="off">
    <label class="btn btn-outline-primary" for="hourly">Hourly</label>

    <input (click)="onIntervalGroupsClick($event)" id="daily" type="radio" class="btn-check" name="btnradio" autocomplete="off" checked>
    <label class="btn btn-outline-primary" for="daily">Daily</label>

    <input (click)="onIntervalGroupsClick($event)" id="monthly" type="radio" class="btn-check" name="btnradio" autocomplete="off">
    <label class="btn btn-outline-primary" for="monthly">Monthly</label>
  </div>
</div>

<div id="table" class="container bg-light bg-opacity-50 rounded">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col"> #
        <span
          id="id"
          ngbPopover="Sort by id"
          [openDelay]="300"
          [closeDelay]="500"
          triggers="mouseenter:mouseleave"
        >
          <i class="ms-2 bi bi-chevron-expand"></i>
        </span>
        </th>
      <th scope="col"> Heavy activity
        <span
          id="heavyActivity"
          (click)="sortList('heavyActivity')"
          ngbPopover="Sort by heavy activity"
          [openDelay]="300"
          [closeDelay]="500"
          triggers="mouseenter:mouseleave"
        >
          <i class="ms-2 bi bi-chevron-expand"></i>
        </span>
      </th>
      <th scope="col"> Light activity
        <span
          id="lightActivity"
          (click)="sortList('lightActivity')"
          ngbPopover="Sort by light activity"
          [openDelay]="300"
          [closeDelay]="500"
          triggers="mouseenter:mouseleave"
        >
          <i class="ms-2 bi bi-chevron-expand"></i>
        </span>
      </th>
      <th scope="col"> Mixed activity
        <span
          id="mixedActivity"
          (click)="sortList('mixedActivity')"
          ngbPopover="Sort by mixed activity"
          [openDelay]="300"
          [closeDelay]="500"
          triggers="mouseenter:mouseleave"
        >
          <i class="ms-2 bi bi-chevron-expand"></i>
        </span>
      </th>
      <th scope="col"> Date
        <span
          id="date"
          (click)="sortList('date')"
          ngbPopover="Sort by date"
          [openDelay]="300"
          [closeDelay]="500"
          triggers="mouseenter:mouseleave"
        >
          <i class="ms-2 bi bi-chevron-expand"></i>
        </span>
      </th>
      <th scope="col">Goals fulfilled
        <span
          id="goalsFulfilled"
          (click)="sortList('goalsFulfilled')"
          ngbPopover="Sort by goals fulfilled"
          [openDelay]="300"
          [closeDelay]="500"
          triggers="mouseenter:mouseleave"
        >
          <i class="ms-2 bi bi-chevron-expand"></i>
        </span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let activity of activities; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <img
          [src]="'https://upload.wikimedia.org/wikipedia/commons/f/fa/Flag_of_the_People%27s_Republic_of_China.svg'"
          class="me-2"
          style="width: 20px"
        />
        {{ activity.heavyActivity | percent }}
      </td>
      <td>
        <img
          [src]="'https://upload.wikimedia.org/wikipedia/commons/f/fa/Flag_of_the_People%27s_Republic_of_China.svg'"
          class="me-2"
          style="width: 20px"
        />
        {{ activity.lightActivity | percent }}
      </td>
      <td>
        <img
          [src]="'https://upload.wikimedia.org/wikipedia/commons/f/fa/Flag_of_the_People%27s_Republic_of_China.svg'"
          class="me-2"
          style="width: 20px"
        />
        {{ activity.mixedActivity | percent }}
      </td>
      <td>{{ activity.date | date: myMap.get(shownBy) }}</td>
      <td>{{ activity.goalsFulfilled | percent }}</td>
    </tr>
    </tbody>
  </table>
</div>
