
<div id="table" class="container bg-light bg-opacity-50 rounded">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col"> #
        <span
          id="id"
          ngbPopover="Sort by id"
          [openDelay]="300"
          [closeDelay]="500"
          triggers="mouseenter:mouseleave"
        >
          <i class="ms-2 bi bi-chevron-expand"></i>
        </span>
        </th>
      <th scope="col" > Heavy activity
        <span
          id="heavyActivity"
          (click)="sortList('heavyActivity')"
          ngbPopover="Sort by heavy activity"
          [openDelay]="300"
          [closeDelay]="500"
          triggers="mouseenter:mouseleave"
        >
          <i class="ms-2 bi bi-chevron-expand"></i>
        </span>
      </th>
      <th scope="col"> Light activity
        <span
          id="lightActivity"
          (click)="sortList('lightActivity')"
          ngbPopover="Sort by light activity"
          [openDelay]="300"
          [closeDelay]="500"
          triggers="mouseenter:mouseleave"
        >
          <i class="ms-2 bi bi-chevron-expand"></i>
        </span>
      </th>
      <th scope="col"> Mixed activity
        <span
          id="mixedActivity"
          (click)="sortList('mixedActivity')"
          ngbPopover="Sort by mixed activity"
          [openDelay]="300"
          [closeDelay]="500"
          triggers="mouseenter:mouseleave"
        >
          <i class="ms-2 bi bi-chevron-expand"></i>
        </span>
      </th>
      <th scope="col"> Date
        <span
          id="date"
          (click)="sortList('date')"
          ngbPopover="Sort by date"
          [openDelay]="300"
          [closeDelay]="500"
          triggers="mouseenter:mouseleave"
        >
          <i class="ms-2 bi bi-chevron-expand"></i>
        </span>
      </th>
      <th scope="col">Duration
        <span
          id="duration"
          (click)="sortList('goalsFulfilled')"
          ngbPopover="Sort by duration"
          [openDelay]="300"
          [closeDelay]="500"
          triggers="mouseenter:mouseleave"
        >
          <i class="ms-2 bi bi-chevron-expand"></i>
        </span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let activity of activities; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <i class="bi bi-clipboard2-data me-3 text-danger"></i>
        {{ activity.heavyActivity | percent }}
      </td>
      <td>
        <i class="bi bi-clipboard2-data me-3 text-success"></i>
        {{ activity.lightActivity | percent }}
      </td>
      <td>
        <i class="bi bi-clipboard2-data me-3 text-warning"></i>
        {{ activity.mixActivity | percent }}
      </td>
      <td>{{ activity.dateOfActivity | date: myMap.get(shownBy) }}</td>
      <td>{{ activity.duration }} min</td>
    </tr>
    </tbody>
  </table>
</div>
