<div id="registration" class="container bg-light bg-opacity-50 rounded p-5">
  <ng-container [ngSwitch]="userError">
    <h3 class="alert alert-danger" *ngSwitchCase="'EMPTY_EMAIL'">Email field should be filled!</h3>
    <h3 class="alert alert-danger" *ngSwitchCase="'EMPTY_MATCHING_PASSWORD'">Confirm password field should be filled!</h3>
    <h3 class="alert alert-danger" *ngSwitchCase="'EMPTY_PASSWORD'">Password field should be filled!</h3>
    <h3 class="alert alert-danger" *ngSwitchCase="'NON_MATCHING_PASSWORDS'">Passwords should match!</h3>
  </ng-container>
  <form (ngSubmit)="onFormSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Username</label>
      <input type="email" [(ngModel)]="currentUserForm.email" required class="form-control" name="email" id="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" [(ngModel)]="currentUserForm.password" required class="form-control" name="password" id="password">
    </div>
    <div class="mb-5">
      <label for="confirmPassword" class="form-label">Confirm password</label>
      <input type="password" [(ngModel)]="currentUserForm.matchingPassword" required class="form-control" name="matchingPassword" id="confirmPassword">
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
