main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

body {
  margin: 0;
}

.bi-eye-fill {
  color: rebeccapurple;
}

.eye-link {
  outline: none !important;
}
