<main style="min-height: 100vh">
  <div style="width: 4.5rem;"></div>
  <div class="fixed-bottom fixed-top d-flex border bg-opacity-50 flex-column align-items-center flex-shrink-0 bg-light" style="width: 4.5rem;">
    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
      <i class="fs-1 bi bi-eye-fill"></i>
      <span class="visually-hidden">Icon-only</span>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a routerLink="/main" #main (click)="onSideBarIconClick(main)" class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
          <i class="bi bi-house" ></i>
        </a>
      </li>
      <li>
        <a routerLink="/settings" #settings (click)="onSideBarIconClick(settings)" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
          <i class="bi bi-gear"></i>
        </a>
      </li>
      <li>
        <a routerLink="/activity" #activity (click)="onSideBarIconClick(activity)" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
          <i class="bi bi-graph-up"></i>
        </a>
      </li>
      <li>
        <a routerLink="/planner" #planner (click)="onSideBarIconClick(planner)" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
          <i class="bi bi-calendar-date"></i>
        </a>
      </li>
    </ul>
    <div class="dropdown border-top mb-3">
      <i class="bi bi-moon"></i>
    </div>
  </div>
</main>
