<!--  ** ARTICLES ** -->
<div class="articles p-3 opacity-75 rounded">
  <div class="row">
    <div class="col-4">
      <div id="list-example" class="list-group">
        <ng-container *ngFor="let item of items; let i=index">
          <a class="list-group-item list-group-item-action" href="#list-item-{{i}}">{{item.name}}</a>
        </ng-container>
      </div>
    </div>
    <div class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        <ng-container *ngFor="let item of items; let i=index">
          <h4 id="list-item-{{i}}">{{item.name}}</h4>
          <p>{{item.summary}}</p>
          <div id="link" class="d-flex">
            <p class="fw-bold me-5"> Link: </p>
            <a href="{{item.link}}">{{item.name}}</a>
          </div>

        </ng-container>
      </div>
    </div>
  </div>
</div>
